<h1>Demo Multiselect</h1>
<div>
    <h2>Multiselect multiple</h2>
    <multiselect (modelUpdated)="updateModel1($event)"
                 [multiple]="true"
                 [collection]="store.items"
                 [label]="'summary'"
                 [header]="'Multiselect'"
                 [mutiselectModel]="multiselectModel1">
    </multiselect>
    <span>Model: {{renderModel(multiselectModel1)}}</span>
</div>
<div>
    <h2>Multiselect single</h2>
    <multiselect (modelUpdated)="updateModel2($event)"
                 [multiple]="false"
                 [collection]="store.items"
                 [label]="'summary'"
                 [header]="'Singleselect'"
                 [mutiselectModel]="multiselectModel2">
    </multiselect>
    <span>Model: {{renderModel(multiselectModel2)}}</span>
</div>